extends layout

block content
    h3.title=title

    if message
        div.alert.alert-success(role="alert")=message
    if error
        div.alert.alert-danger(role="alert")=error

    form(method="POST" action=addLink)
        each field in fields
            div.form-group
                label(for=field.identifier)=field.name
                input.form-control(id=field.identifier type=field.type placeholder="Enter " + field.name name=field.name)
        center
            if customFields
                p
                    a.btn.btn-primary(href="#") Add Custom Field
            if equipmentFields
                p
                    a.btn.btn-primary(href="#") Add Equipment
            if staffFields
                p
                    a.btn.btn-primary(href="#") Add Staff
            if visitorFields
                p
                    a.btn.btn-primary(href="#") Add Visitor
        center
            button.btn.btn-primary(type="submit") Add
            a.btn.btn-danger(href=cancelLink) Cancel