extends layout

block content
    - var field_count = 0
    if customFields
        script.
            function addCustomField() {
                var field_count = $("#fields .row").length;

                $('<div>').attr('class', 'row form-group').attr('id', 'row' + field_count).appendTo('#fields');

                $('<div>').attr('class', 'col').attr('id', 'nameCol' + field_count).appendTo('#row' + field_count);
                $('<label>').attr('for', 'fieldName' + field_count).appendTo('#nameCol' + field_count).text('Custom Field ' + field_count + ' Name');
                $('<input>')
                    .attr('type', 'text')
                    .attr('class', 'form-control')
                    .attr('name', 'fieldName' + field_count)
                    .appendTo('#nameCol' + field_count);

                $('<div>').attr('class', 'col').attr('id', 'valueCol' + field_count).appendTo('#row' + field_count);
                $('<label>').attr('for', 'fieldValue' + field_count).appendTo('#valueCol' + field_count).text('Custom Field ' + field_count + ' Value');
                $('<input>')
                    .attr('type', 'text')
                    .attr('class', 'form-control')
                    .attr('name', 'fieldValue' + field_count)
                    .appendTo('#valueCol' + field_count);

                $('<div>')
                  .attr('class', 'col')
                  .attr('id', 'removeCol' + field_count)
                  .attr('style', 'flex-grow:0;position:relative;')
                  .appendTo('#row' + field_count);
                $('<a>')
                  .attr('class', 'options-btn')
                  .attr('href', '#')
                  .attr('id', 'removeIcon' + field_count)
                  .attr('style', 'position:absolute;bottom:0;left:0')
                  .attr('onclick','$(this).parent().parent().remove()')
                  .appendTo('#removeCol' + field_count)
                $('<i>').attr('class', 'material-icons md-18').text('delete').appendTo('#removeIcon' + field_count)
            }

    if !errorCritical

        h3.title=title

        if message
            div.alert.alert-success(role="alert")=message
        if error
            div.alert.alert-danger(role="alert")=error

        form(method="POST" action=editLink)
            each info,index in item
                if index !== 'customFieldsValues'
                    div.form-group
                        label(for=index)=index
                        if index !== 'ID'
                            input.form-control(id=index type="text" placeholder="Enter " + index value=info name=index)
                        else
                            input.form-control(id=index type="text" placeholder="Enter " + index readonly value=info name=index)
                else
                    p='Custom Fields:'
                    div#fields
                        each fieldValue in info
                            div.row.form-group
                                div.col
                                    label(for=fieldValue['fieldName'])='Custom Field ' + field_count + ' Name'
                                    input.form-control(id=fieldValue['fieldName'] type="text" value=fieldValue['fieldName'] name='fieldName' + field_count)
                                div.col
                                    label(for=fieldValue['fieldValue'])='Custom Field ' + field_count + ' Value'
                                    input.form-control(id=fieldValue['fieldValue'] type="text" value=fieldValue['fieldValue'] name='fieldValue' + field_count)
                                div.col(style='flex-grow:0;position:relative;')
                                    a.options-btn(href="#" style="position:absolute;bottom:0;left:0;" onclick='$(this).parent().parent().remove()')
                                        i.material-icons.md-18 delete
                        - field_count++
            center
                if customFields
                    p
                        a.btn.btn-primary(href="#" onclick="addCustomField()") Add Custom Field
                button.btn.btn-primary(type="submit") Save
                a.btn.btn-danger(href=cancelLink) Cancel
    else
        div.alert.alert-danger(role="alert")=error
        a.btn.btn-primary(href=listLink) Go to list