extends layout

block content
    .container
        - var field_count = 0
        - var visitor_count = 0
        - var equipment_count = 0
        - var staff_count = 0

        if customFields
            include includes/customFieldScript
        if staffFields
            include includes/staffFieldScript
        if visitorFields
            include includes/visitorFieldScript
        if equipmentFields
            include includes/equipmentFieldScript
        if roomFields
            include includes/roomsFieldScript

        if !errorCritical

            h3.title=title

            if message
                div.alert.alert-success(role="alert")=message
            if error
                div.alert.alert-danger(role="alert")=error

            form(method="POST" action=editLink)
                each info,index in item
                    if index === 'Event Type'
                        div.form-group
                            label(for=index)=index
                            select.form-control(name=index)
                                each option in eventTypes
                                    if info._id.toString() === option._id.toString()
                                        option(value=option._id selected)=option.eventTypeName
                                    else
                                        option(value=option._id)=option.eventTypeName
                    else if index === 'Rooms'
                        div#rooms
                            p
                                b="Rooms:"
                                a.btn.btn-primary(href="#" onclick="addRoomField()") Add Room

                            each room in info
                                div.row.form-group(id="rowRoom" + room_count)
                                    div.col(id="roomNameCol" + room_count)
                                        label(for="roomName" + room_count)='Room ' + room_count + ' Name'
                                        select.form-control(id="selectRoom" + room_count name='roomID' + room_count)
                                            each option in rooms
                                                if room._id.toString() === option._id.toString()
                                                    option(value=option._id selected)=option.roomName
                                                else
                                                    option(value=option._id)=option.roomName

                                    div.col(id="removeRoomCol" + room_count style="flex-grow:0;position:relative;")
                                        a.options-btn(href="#" id="removeRoomIcon" + room_count style="position:absolute;bottom:0;left:0" onclick="$(this).parent().parent().remove()")
                                            i.material-icons.md-18="delete"
                                    - room_count++
                    else if index === 'Equipment'
                        div#equipment
                            p
                                b="Equipment:"
                                a.btn.btn-primary(href="#" onclick="addEquipmentField()") Add Equipment

                            each equip in info
                                div.row.form-group(id="rowEquipment" + equipment_count)
                                    div.col(id="equipmentNameCol" + equipment_count)
                                        label(for="equipmentName" + equipment_count)='Equipment ' + equipment_count + ' Name'
                                        select.form-control(id="selectEquipment" + equipment_count name='equipmentID' + equipment_count onChange='selectedEquipment(this)')
                                            each option in equipment
                                                if equip._id.toString() === option._id.toString()
                                                    option(value=option._id selected)=option.typeName
                                                else
                                                    option(value=option._id)=option.typeName
                                    div.col(id="equipmentQuantityCol" + equipment_count)
                                        label(for="quantity" + equipment_count)="Quantity " + equipment_count
                                        input.form-control(type="number" name="quantity" + equipment_count min="1" max=equip.quantity value=equip.reqQty)

                                    div.col(id="removeEquipmentCol" + equipment_count style="flex-grow:0;position:relative;")
                                        a.options-btn(href="#" id="removeEquipmentIcon" + equipment_count style="position:absolute;bottom:0;left:0" onclick="$(this).parent().parent().remove()")
                                            i.material-icons.md-18="delete"
                                - equipment_count++
                    else if index === 'Staff'
                        div#staff
                            p
                                b="Staff:"
                                a.btn.btn-primary(href="#" onclick="addStaffField()") Add Staff

                            each staff_member in info
                                div.row.form-group(id="rowStaff" + staff_count)
                                    div.col(id="staffNameCol" + staff_count)
                                        label(for="staffID" + staff_count)='Staff Member ' + staff_count + ' Email'
                                        select.form-control(id="selectStaff" + staff_count name='staffID' + staff_count)
                                            each option in staff
                                                if staff_member._id.toString() === option._id.toString()
                                                    option(value=option._id selected)=option.fullName
                                                else
                                                    option(value=option._id)=option.fullName
                                    div.col(id="staffRoleCol" + staff_count)
                                        label(for="staffRole" + staff_count)='Staff Member ' + staff_count + ' Role'
                                        if staff_member.role
                                            input.form-control(type="text" name="staffRole" + staff_count value=staff_member.role)
                                        else
                                            input.form-control(type="text" name="staffRole" + staff_count)

                                    div.col(id="removeStaffCol" + staff_count style="flex-grow:0;position:relative;")
                                        a.options-btn(href="#" id="removeStaffIcon" + staff_count style="position:absolute;bottom:0;left:0" onclick="$(this).parent().parent().remove()")
                                            i.material-icons.md-18="delete"
                                - staff_count++
                    else if index === 'Visitors'
                        div#visitors
                            p
                                b="Visitors:"
                                a.btn.btn-primary(href="#" onclick="addVisitorField()") Add Visitor

                            each visitor in info
                                div.row.form-group(id="visitorCol" + visitor_count)
                                    div.col(id="visitorCol" + visitor_count)
                                        label(for="visitorID" + visitor_count)='Visitor ' + visitor_count + ' Name'
                                        select.form-control(id="selectVisitor" + visitor_count name='visitorID' + visitor_count)
                                            each option in visitors
                                                if visitor._id.toString() === option._id.toString()
                                                    option(value=option._id selected)=option.leadTeacherName
                                                else
                                                    option(value=option._id)=option.leadTeacherName

                                    div.col(id="removeVisitorCol" + visitor_count style="flex-grow:0;position:relative;")
                                        a.options-btn(href="#" id="removeVisitorIcon" + visitor_count style="position:absolute;bottom:0;left:0" onclick="$(this).parent().parent().remove()")
                                            i.material-icons.md-18="delete"
                                - visitor_count++
                    else if index !== 'customFieldsValues'
                        div.form-group
                            label(for=index)=index
                            if index !== 'ID'
                                input.form-control(id=index type="text" placeholder="Enter " + index value=info name=index)
                            else
                                input.form-control(id=index type="text" placeholder="Enter " + index readonly value=info name=index)
                    else if index === 'customFieldsValues'
                        p
                            b='Custom Fields:'
                            a.btn.btn-primary(href="#" onclick="addCustomField()") Add Custom Field
                        div#fields
                            each fieldValue in info
                                div.row.form-group
                                    div.col
                                        label(for=fieldValue['fieldName'])='Custom Field ' + field_count + ' Name'
                                        input.form-control(id=fieldValue['fieldName'] type="text" value=fieldValue['fieldName'] name='fieldName' + field_count)
                                    div.col
                                        label(for=fieldValue['fieldValue'])='Custom Field ' + field_count + ' Value'
                                        input.form-control(id=fieldValue['fieldValue'] type="text" value=fieldValue['fieldValue'] name='fieldValue' + field_count)
                                    div.col(style='flex-grow:0;position:relative;')
                                        a.options-btn(href="#" style="position:absolute;bottom:0;left:0;" onclick='$(this).parent().parent().remove()')
                                            i.material-icons.md-18 delete
                            - field_count++
                center
                    button.btn.btn-primary(type="submit") Save
                    a.btn.btn-danger(href=cancelLink) Cancel
        else
            div.alert.alert-danger(role="alert")=error
            a.btn.btn-primary(href=listLink) Return to list

        if customFields
            script.
                var field_count = !{field_count};
        if staffFields
            script.
                var staff_count = !{staff_count};
        if visitorFields
            script.
                var visitor_count = !{visitor_count};
        if equipmentFields
            script.
                var equipment_count = !{equipment_count};
        if roomFields
            script.
                var room_count = !{room_count};