extends layout

block content
  .container
    h3.title=title
    hr
    p.
      The Department of Computer Science in the University of Liverpool organizes a range of
      outreach events in order to raise enthusiasm into school-age pupils about
      going into Computer Science, also to spread the knowledge about the sphere
      amongst everyone, including the teachers.

    p.
      You can use the burger menu in the top right corner to navigate through the system.


    p
      b='For Visitors'
      br
      span='If you are a visitor you will only be able to see the events that you are marked as a visitor.'

    p
      b='For Administrators'
      br
      span='If you are a system administrator, you would be able to edit the different elements that are stored in the system and add new ones if needed.'

  script.
        //Start subscription
        const publicVapidKey = "!{publicKey}";

        // $(document).ready(function(){
            if (window.Notification) {
                if (Notification.permission !== 'granted') {
                    Notification.requestPermission(function(){
                        if (Notification.permission === 'granted') {
                            getSubscriptionObject().then(subscribe)
                        }
                    }).catch(function(err) {
                        console.log(err);
                    });
                } else {
                    getSubscriptionObject().then(subscribe)
                }
            }
        // });

        //Generate subscription object
        function getSubscriptionObject() {
            return navigator.serviceWorker.register('/javascripts/worker.js')
            .then(function(worker){
                return worker.pushManager.subscribe({
                    userVisibleOnly: true,
                    applicationServerKey: urlBase64ToUint8Array(publicVapidKey)
                }).catch(function(err) {
                    console.log(err);
                });
            }).catch(function(err) {
                console.log(err);
            });
        }

        //Send subscription to server
        function subscribe(subscription) {
            return fetch(window.location.origin + '/subscribe', {
                method: 'POST',
                body: JSON.stringify({
                    subscription: subscription,
                }),
                headers: {
                    'content-type': 'application/json'
                }
            }).catch(function(err) {
                console.log(err);
            });
        }

        //Decoder base64 to uint8
        function urlBase64ToUint8Array(base64String) {
            const padding = '='.repeat((4 - base64String.length % 4) % 4);
            const base64 = (base64String + padding)
                .replace(/-/g, '+')
                .replace(/_/g, '/');
            const rawData = window.atob(base64);
            const outputArray = new Uint8Array(rawData.length);
            for (let i = 0; i < rawData.length; ++i) {
                outputArray[i] = rawData.charCodeAt(i);
            }
            return outputArray;
        }