extends layout

block content
  .container
    h3.title=title
    hr
    p.
      The Department of Computer Science in the University of Liverpool organizes a range of
      outreach events in order to raise enthusiasm into school-age pupils about
      going into Computer Science, also to spread the knowledge about the sphere
      amongst everyone, including the teachers.

    p.
      You can use the burger menu in the top right corner to navigate through the system.


    p
      b='For Visitors'
      br
      span='If you are a visitor you will only be able to see the events that you are marked as a visitor.'

    p
      b='For Administrators'
      br
      span='If you are a system administrator, you would be able to edit the different elements that are stored in the system and add new ones if needed.'
