doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name="theme-color" content="#021F71")
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')

        if title == 'Calendar'
            link(rel='stylesheet', href='/@fullcalendar/core/main.min.css')
            link(rel='stylesheet', href='/@fullcalendar/daygrid/main.min.css')

        script(src='/javascripts/jquery/jquery-3.4.1.min.js')
        script(src='/javascripts/popper/popper.min.js')
        script(src='/javascripts/bootstrap/bootstrap.min.js')

    body
        nav.navbar.navbar-dark.bg-dark.fixed-top
            a.navbar-brand(href='/')
                img.img-responsive#logo(src='/images/logo-transparent.png' alt="University of Liverpool Logo",)

            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#menu', aria-controls='menu', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
        .content
            #menu.collapse.navbar-collapse(style="z-index:2")
                ul.navbar-nav.mr-auto
                    if user
                        if user.permission >= 0
                            li.nav-item
                                a.nav-link(href='/welcome') Home
                            li.nav-item
                                a.nav-link(href='/calendar') Calendar

                        if user.permission >= 30
                            li.nav-item
                                a.nav-link(href='/export') Export

                        if user.permission >= 10
                            hr
                            span(style="color:gray")="Users"

                        if user.permission >= 10
                            li.nav-item
                                a.nav-link(href='/users/list-users') Staff
                        if user.permission >= 30
                            li.nav-item
                                a.nav-link(href='/roles/list-roles') Staff Roles
                        if user.permission >= 10
                            li.nav-item
                                a.nav-link(href='/visitors/list-visitors') Visitors


                        hr
                        span(style="color:gray")="Events"
                        if user.permission >= 10
                            li.nav-item
                                a.nav-link(href='/events/list-events') Events
                            li.nav-item
                                a.nav-link(href='/events/archive/list-events') Archive
                        if user.permission >= 1
                            li.nav-item
                                a.nav-link(href='/events/participate-events-list') Attending

                        if user.permission >= 30
                            hr
                            span(style="color:gray")="Elements"

                            li.nav-item
                                a.nav-link(href='/rooms/list-rooms') Rooms
                            li.nav-item
                                a.nav-link(href='/equipment/list-equipment') Equipment
                            li.nav-item
                                a.nav-link(href='/event-types/list-event-type') Event Types

                        hr
                        span(style="color:gray")="Personal"
                        if user.permission >= 10
                            li.nav-item
                                a.nav-link(href='/users/edit-user?id='+user._id) Your Profile
                        else if user.permission === 1
                            li.nav-item
                                a.nav-link(href='/visitors/edit-visitor?id='+user._id) Your Profile
                        li.nav-item
                            a.nav-link(href='/change-password') Change Password
                        li.nav-item
                            a.nav-link(href='/logout') Log out
                    else
                        li.nav-item
                            a.nav-link(href='/') Log in
            block content