extends layout

block content
    script.
        var original_list = !{JSON.stringify(list)};
        var filter_list = [];
        var search_list = [];
        var filter_applied = false;
        var search_applied = false;

        function populateList(list) {
            $("tbody").empty();

            if (list.length > 0) {
                list.forEach(function (list_element) {
                    let tr = $("<tr>").appendTo('tbody');

                    for (let index in list_element) {
                        if (index === "id") {
                            $("<td>").attr('style', 'font-weight:bold').text(list_element[index]).appendTo(tr);
                        } else if (index === "name") {
                            let td = $("<td>").appendTo(tr);
                            $("<a>").attr('href', "#{viewLink}?id=" + list_element.id).text(list_element[index]).appendTo(td);
                        } else {
                            $("<td>").text(list_element[index]).appendTo(tr);
                        }
                    }

                    if("!{deleteLink}" !== "undefined" || "!{editLink}" !== "undefined"){
                        let td = $("<td>").appendTo(tr);

                        if ("!{editLink}" !== "undefined") {
                            let edit_a = $("<a>")
                                .attr("class", "options-btn")
                                .attr("href", "#{editLink}?id=" + list_element.id)
                                .attr("onclick", "return confirm('Are you sure you want to delete this entity?')").appendTo(td);
                            $("<i>").attr("class", "material-icons md-18").text("edit").appendTo(edit_a)
                        }
                        if("!{deleteLink}" !== "undefined"){
                            let delete_a = $("<a>")
                              .attr("class","options-btn")
                              .attr("href","#{deleteLink}?id="+list_element.id)
                              .attr("onclick","return confirm('Are you sure you want to delete this entity?')").appendTo(td);
                            $("<i>").attr("class","material-icons md-18").text("delete").appendTo(delete_a)
                        }
                    }
                });
            } else {
                let tr = $("<tr>").appendTo('tbody');
                $("<td>").attr('colspan', #{columns.length}).attr('align','center').text("No results to show").appendTo(tr);
            }
        }

        function searchFilter() {
            const input = $("#searchBox").val();
            let inner_list = original_list;

            function filterOutResults(object) {
                return object.id.toLowerCase().includes(input.toLowerCase()) || object.name.toLowerCase().includes(input.toLowerCase());
            }

            if(filter_applied) inner_list = filter_list;

            if (input !== "") {
            	search_applied = true;

                inner_list = inner_list.filter(filterOutResults);

                search_list = original_list.filter(filterOutResults);
            } else search_applied = false;

            populateList(inner_list);
        }
    if filter == "Events"
        script.
            function applyFilter(){
            	filter_applied = true;

            	let list_to_filter = original_list;

                if(search_applied) list_to_filter = search_list;

                let spacesMin = $("#rangeSpacesMin").val();
                let spacesMax = $("#rangeSpacesMax").val();
                let visitorsMin = $("#rangeVisitorsMin").val();
                let visitorsMax = $("#rangeVisitorsMax").val();
                let dateFrom = $("#rangeDateFrom").val();
                let dateTo = $("#rangeDateTo").val();
                let eventTypeSelected = $("#eventTypeSelectedFilter").val();

                let type = !{JSON.stringify(type)};
                let filterLink = type === "allList" ? "../filter" : "../../filter";

                $.post(filterLink, {
                    spacesMin:spacesMin,
                    spacesMax:spacesMax,
                    visitorsMin:visitorsMin,
                    visitorsMax:visitorsMax,
                    dateFrom:dateFrom,
                    dateTo:dateTo,
                    eventTypeSelected:eventTypeSelected,
                    list:list_to_filter,
                    originalList:original_list,
                    type:type
                }, function (data) {
                    populateList(data.list);
                    filter_list = data.filterList;
                });
            }
    else if filter == "Equipment"
        script.
            function applyFilter(){
            	filter_applied = true;

                function filterOutResults(object){
                	var result = true;

                	let qtyMin = $("#rangeQtyMin").val();
                    let qtyMax = $("#rangeQtyMax").val();

                	if(qtyMin && qtyMin >= object.quantity){
                      result = false;
                    }
                	if(qtyMax && qtyMax <= object.quantity){
                      result = false;
                    }

                	return result;
                }

                filter_list = original_list.filter(filterOutResults);

                if(search_applied){
                	populateList(search_list.filter(filterOutResults));
                } else {
                	populateList(filter_list);
                }
            }
    else if filter == "Rooms"
        script.
            function applyFilter(){
            	filter_applied = true;

                function filterOutResults(object){
                	var result = true;

                	let capacityMin = $("#rangeCapacityMin").val();
                    let capacityMax = $("#rangeCapacityMax").val();

                	if(capacityMin && capacityMin >= object.capacity){
                      result = false;
                    }
                	if(capacityMax && capacityMax <= object.capacity){
                      result = false;
                    }

                	return result;
                }

                filter_list = original_list.filter(filterOutResults);

                if (search_applied) {
                    populateList(search_list.filter(filterOutResults));
                } else {
                    populateList(filter_list);
                }
            }
    else if filter == "Staff"
        script.
            function applyFilter(){
                filter_applied = true;

                let list_to_filter = original_list;

                if(search_applied) list_to_filter = search_list;

                $.post("../filter", {
                    staffRole:$("#staffRoleSelect").val(),
                    list:list_to_filter,
                    originalList:original_list,
                    type:!{JSON.stringify(type)}
                }, function (data) {
                    populateList(data.list);
                    filter_list = data.filterList;
                });
            }
    else if filter == "Visitors"
        script.
            function applyFilter(){
                filter_applied = true;

                function filterOutResults(object){
                	var result = true;

                	let institutionSelect = $("#visitorInstitutionSelect").val();

                	if(!object.institutionName.includes(institutionSelect)){
                      result = false;
                    }

                	return result;
                }

                filter_list = original_list.filter(filterOutResults);

                if (search_applied) {
                    populateList(search_list.filter(filterOutResults));
                } else {
                    populateList(filter_list);
                }
            }

    if filter == "Events"
        script.
            function resetFilter(){
            	filter_applied = false;

                if(search_applied){
                	searchFilter();
                } else {
                	populateList(original_list);
                }

                $("#rangeSpacesMin").val("");
                $("#rangeSpacesMax").val("");
                $("#rangeVisitorsMin").val("");
                $("#rangeVisitorsMax").val("");
                $("#rangeDateFrom").val("");
                $("#rangeDateTo").val("");
                $("#eventTypeSelectedFilter").prop('selectedIndex',0);
            }
    else if filter == "Equipment"
        script.
            function resetFilter(){
            	filter_applied = false;

                if(search_applied){
                	searchFilter();
                } else {
                	populateList(original_list);
                }

                $("#rangeQtyMin").val("");
                $("#rangeQtyMax").val("");
            }
    else if filter == "Rooms"
        script.
            function resetFilter(){
            	filter_applied = false;

                if(search_applied){
                	searchFilter();
                } else {
                	populateList(original_list);
                }

                $("#rangeCapacityMin").val("");
                $("#rangeCapacityMax").val("");
            }
    else if filter == "Staff"
        script.
            function resetFilter(){
            	filter_applied = false;

                if(search_applied){
                	searchFilter();
                } else {
                	populateList(original_list);
                }

                $("#staffRoleSelect").prop('selectedIndex',0);
            }
    else if filter == "Visitors"
        script.
            function resetFilter(){
                filter_applied = false;

                if(search_applied){
                	searchFilter();
                } else {
                	populateList(original_list);
                }

                // TODO: reset field
            }
    .container
        h3.title=title
        if addLink
            a.btn.btn-success(href=addLink style="margin:5px;") Add New

        if filter
            button.btn.btn-link#filterBtn Filter

        if exportLink
            a.btn.btn-primary(href=exportLink style='margin-top:5px;float:right') Export

        p
            div.row(style="flex-wrap:nowrap;")
                div.col-sm(style="padding-right:0")
                    input.form-control#searchBox(type="text" placeholder="Search by typing name or ID..")
                div.col-sm(style="flex-grow:0;padding-left:0;width:unset")
                    button.btn.btn-primary(onclick="searchFilter()") Search


        div#filter(style="display:none;")
            h5="Filter Data"
            hr

            if filter == "Events"
                div#rangeSpaces
                    h6="Spaces Available"
                    div.row
                        div.col-sm
                            span="Minimum"
                            input.form-control#rangeSpacesMin(type="number")
                        div.col-sm
                            span="Maximum"
                            input.form-control#rangeSpacesMax(type="number")
                hr

                div#rangeVisitors
                    h6="Number of Visitors"
                    div.row
                        div.col-sm
                            span="Minimum"
                            input.form-control#rangeVisitorsMin(type="number")
                        div.col-sm
                            span="Maximum"
                            input.form-control#rangeVisitorsMax(type="number")
                hr

                div#rangeDate
                    h6="Dates"
                    div.row
                        div.col-sm
                            span="From"
                            input.form-control#rangeDateFrom(type="date")
                        div.col-sm
                            span="To"
                            input.form-control#rangeDateTo(type="date")
                hr

                div#eventTypeFilter
                    h6="Event Types"
                    select.form-control#eventTypeSelectedFilter
                        option(selected)="Select Event Type"
                        each event_type in eventTypes
                            if type == "archive"
                                option(value=event_type.eventTypeName)=event_type.eventTypeName
                            else
                                option(value=event_type._id)=event_type.eventTypeName
                hr

            if filter == "Equipment"
                div#rangeQuantity
                    h6="Quantity"
                    div.row
                        div.col-sm
                            span="Minimum"
                            input.form-control#rangeQtyMin(type="number")
                        div.col-sm
                            span="Maximum"
                            input.form-control#rangeQtyMax(type="number")
                hr

            if filter == "Rooms"
                div#rangeCapacity
                    h6="Capacity"
                    div.row
                        div.col-sm
                            span="Minimum"
                            input.form-control#rangeCapacityMin(type="number")
                        div.col-sm
                            span="Maximum"
                            input.form-control#rangeCapacityMax(type="number")
                hr

            if filter == "Staff"
                div#staffRoleFilter
                    h6="Staff Role"
                    select.form-control#staffRoleSelect
                        option(selected)="Select Staff Role"
                        each staff_role in staffRoles
                            option(value=staff_role)=staff_role
                hr

            if filter == "Visitors"
                div#visitorInstitutionFilter
                    h6="Visitor Institution"
                    select.form-control#visitorInstitutionSelect
                        option(selected)="Select Visitor Institution"
                        each visitor_institution in visitorInstitutions
                            option(value=visitor_institution)=visitor_institution
                hr


            center
                button.btn.btn-primary(onclick="applyFilter()")="Apply Filter"
                button.btn.btn-primary(onclick="resetFilter()")="Reset Filter"

        table.table
            thead
                tr
                    each column in columns
                        th(scope='col')=column
            tbody
                if error
                    tr
                        td(colspan=columns.length align="center")=error
                each item in list
                    tr
                        each info,index in item
                            if index==="id"
                                td(style="font-weight:bold")=info
                            else if index==="name"
                                td
                                    a(href=viewLink+"?id="+item.id)=info
                            else
                                td=info
                        if deleteLink || editLink
                            td
                                if editLink && type !== "archive"
                                    a.options-btn(href=editLink+"?id="+item.id)
                                        i.material-icons.md-18 edit
                                if deleteLink
                                    a.options-btn(href=deleteLink+"?id="+item.id onclick="return confirm('Are you sure you want to delete this entity?')")
                                        i.material-icons.md-18 delete

    script.
        $("#filterBtn").on('click', function (event) {
            let filter_container = $("#filter");

            if (filter_container.css('display') == 'none') {
                filter_container.css('display', 'block');
            } else {
                filter_container.css('display', 'none');
            }
        });