extends layout

block content
    .container
        //- check for any errors that have to be displayed
        if !error

            //- check if there are no messages to display (this template is used as a feedback for different requests)
            if !deleteMsg && !resetMsg && !signUpMsg
                h3.title=title
                table.table
                    tbody
                        each info,index in item
                            if index === 'Equipment'
                                tr
                                    td(style="font-weight:bold")=index
                                    td
                                        each equip in info
                                            p
                                                span="Name: " + equip.typeName
                                                br
                                                span="Quantity: " + equip.reqQty
                                                br
                                                each field in equip.customFields
                                                    span=field.fieldName + ": " + field.fieldValue
                            else if index === 'Rooms'
                                tr
                                    td(style="font-weight:bold")=index
                                    td
                                        each room in info
                                            p
                                                span="Name: " + room.roomName
                                                br
                                                span="Capacity: " + room.capacity
                                                br
                                                each field in room.customFields
                                                    span=field.fieldName + ": " + field.fieldValue
                            else if index === 'Event Type'
                                tr
                                    td(style="font-weight:bold")=index
                                    td
                                        span=info.eventTypeName
                                        br
                                        if !title.includes('archive')
                                            each field in info.customFields
                                                span=field.fieldName + ": " + field.fieldValue
                            else if index === 'Staff Chosen'
                                tr
                                    td(style="font-weight:bold")=index
                                    td
                                        each staff_member in info
                                            p
                                                span="Name: " + staff_member.fullName
                                                br
                                                span="E-mail: " + staff_member.email
                                                br
                                                if staff_member.phone
                                                    span="Phone: " + staff_member.phone
                                                    br
                                                span="Role: " + staff_member.role
                                                br
                            else if index === 'customFields'
                                each fieldValue in info
                                    tr
                                        td(style="font-weight:bold")=fieldValue['fieldName']
                                        td=fieldValue['fieldValue']
                            else if index === 'Location'
                                tr
                                    td(style="font-weight:bold")=index
                                    td
                                        span=info
                                        a.btn.btn-link(href='https://www.google.com/maps/search/?api=1&query='+info) Show on map
                            else if index === 'Visitors'
                                tr
                                    td(style="font-weight:bold")=index
                                    td
                                        each visitor in info
                                            p
                                                span="Institution Name: " + visitor.institutionName
                                                br
                                                span="Group Size: " + visitor.groupSize
                                                br

                            else if index === 'Attending Events'
                                tr
                                    td(style="font-weight:bold")=index
                                    td
                                        each attending_event in info
                                            p
                                                span="Event Name: " + attending_event.eventName
                                                br

                            else if index === 'Attended Events'
                                tr
                                    td(style="font-weight:bold")=index
                                    td
                                        each attending_event in info
                                            p
                                                span="Event Name: " + attending_event.eventName
                                                br
                                                span="Group Size: " + attending_event.groupSize
                                                br
                            else
                                tr
                                    td(style="font-weight:bold")=index
                                    td=info
                center
                    if signUpLink
                        a.btn.btn-success(href=signUpLink+'?id='+item.ID) Sign-up for Event
                    if editLink
                        a.btn.btn-warning(href=editLink) Edit
                    if resetPassLink
                        a.btn.btn-secondary(href=resetPassLink onclick="return confirm('Are you sure you want to reset the password for this user?')") Reset Password
                    if deleteLink
                        a.btn.btn-danger(href=deleteLink onclick="return confirm('Are you sure you want to delete this entity?')") Delete

            //- check if the message to display is the message for successful deletion of an entity
            else if deleteMsg
                div.alert.alert-success(role="alert")=deleteMsg

            //- check if the message to display is the message for successful password reset of an entity
            else if resetMsg
                div.alert.alert-success(role="alert")=resetMsg

            //- check if the message to display is the message for successful signing up to an event
            else if signUpMsg
                div.alert.alert-success(role="alert")=signUpMsg
        else
            div.alert.alert-danger(role="alert")=error

        p
            center
                a.btn.btn-primary(href=listLink) Return to list

                //- check if the user should see the calendar link
                if calendarLink
                    a.btn.btn-primary(href=calendarLink) Calendar