extends layout

block content
    .container
        if !error
            if !deleteMsg && !resetMsg
                h3.title=title
                table.table
                    tbody
                        each info,index in item
                            if index === 'Equipment'
                                tr
                                    td(style="font-weight:bold")=index
                                    td
                                        each equip in info
                                            p
                                                span="Name: " + equip.typeName
                                                br
                                                span="Quantity: " + equip.reqQty
                                                br
                                                each field in equip.customFields
                                                    span=field.fieldName + ": " + field.fieldValue
                            else if index === 'Rooms'
                                tr
                                    td(style="font-weight:bold")=index
                                    td
                                        each room in info
                                            p
                                                span="Name: " + room.roomName
                                                br
                                                span="Capacity: " + room.capacity
                                                br
                                                each field in room.customFields
                                                    span=field.fieldName + ": " + field.fieldValue
                            else if index === 'Event Type'
                                tr
                                    td(style="font-weight:bold")=index
                                    td
                                        span=info.eventTypeName
                                        br
                                        each field in info.customFields
                                            span=field.fieldName + ": " + field.fieldValue
                            else if index === 'Staff Chosen'
                                tr
                                    td(style="font-weight:bold")=index
                                    td
                                        each staff_member in info
                                            p
                                                span="Name: " + staff_member.fullName
                                                br
                                                span="E-mail: " + staff_member.email
                                                br
                                                span="Role: " + staff_member.role
                                                br
                            else if index === 'customFields'
                                each fieldValue in info
                                    tr
                                        td(style="font-weight:bold")=fieldValue['fieldName']
                                        td=fieldValue['fieldValue']
                            else
                                tr
                                    td(style="font-weight:bold")=index
                                    td=info
                center
                    if editLink
                        a.btn.btn-warning(href=editLink) Edit
                    if resetPassLink
                        a.btn.btn-secondary(href=resetPassLink onclick="return confirm('Are you sure you want to reset the password for this user?')") Reset Password
                    if deleteLink
                        a.btn.btn-danger(href=deleteLink onclick="return confirm('Are you sure you want to delete this entity?')") Delete

            else if deleteMsg
                div.alert.alert-success(role="alert")=deleteMsg
            else if resetMsg
                div.alert.alert-success(role="alert")=resetMsg
        else
            div.alert.alert-danger(role="alert")=error

        p
            center
                a.btn.btn-primary(href=listLink) Return to list